html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    border: 0;
}
#wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr;

}
#gameTitle{
    font-weight: bolder;
    padding-top: 50px;
    text-align: center;
    font-size: 60px;
    grid-area: 1/1/2/3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#playerTitle{
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}
#player-wrapper,#computer-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -300px;
}


.board{
    display: flex;
    flex-direction: column;
    width: fit-content;

    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.box{
    width: 65px;
    height: 65px;
    border: 1px solid #000;
    border-radius: 4px;  /* or 8px */
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
#computer-wrapper .box:hover{
    background-color: gray;
    cursor: pointer;
}
.row{
    display: flex;
}

.ship{
    background-color:  #00b818ee;
}

.mark{
    background-color: gray;

    
}

.hovered{
    background-color: rgb(182, 230, 173);
}
